spark-master:
    image: hurence/spark
    command: bin/spark-class org.apache.spark.deploy.master.Master -h spark-master
    hostname: spark-master
    environment:
      MASTER: spark://spark-master:7077
      SPARK_CONF_DIR: /conf
      SPARK_PUBLIC_DNS: sandbox
    expose:
      - 7001
      - 7002
      - 7003
      - 7004
      - 7005
      - 7006
      - 7077
      - 6066
    ports:
      - 6066:6066
      - 7077:7077
      - 8080:8080
    volumes:
      - ./conf/spark-master:/conf
      - ./data:/tmp/data
spark-worker:
    image: hurence/spark
    command: bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    hostname: spark-worker
    environment:
      SPARK_CONF_DIR: /conf
      SPARK_PUBLIC_DNS: sandbox
      SPARK_WORKER_CORES: 4
      SPARK_WORKER_MEMORY: 4g
      SPARK_WORKER_PORT: 8881
      SPARK_WORKER_WEBUI_PORT: 8081
    links:
      - spark-master
    expose:
      - 7012
      - 7013
      - 7014
      - 7015
      - 7016
      - 8881
    ports:
      - 8081:8081
    volumes:
      - ./conf/spark-worker-1:/conf
      - ./data:/tmp/data
zookeeper:
    image: wurstmeister/zookeeper
    hostname: zookeeper
    ports:
      - "2181:2181"
kafka:
    image: wurstmeister/kafka:0.10.0.1
    hostname: kafka
    links:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_PORT: 9092
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
elasticsearch:
    environment:
      - cluster.name=es-logisland
      - http.host=0.0.0.0
      - transport.host=127.0.0.1
      - xpack.security.enabled=false
    hostname: elasticsearch
    image: 'docker.elastic.co/elasticsearch/elasticsearch:5.4.0'
    ports:
      - '9200:9200'
      - '9300:9300'
kibana:
  environment:
    - 'ELASTICSEARCH_URL=http://elasticsearch:9200'
  image: 'docker.elastic.co/kibana/kibana:5.4.0'
  links:
    - elasticsearch
  ports:
    - '5601:5601'
logisland:
    image: hurence/logisland-light
    command: tail -f bin/logisland.sh
    #command: bin/logisland.sh --conf /conf/index-apache-logs.yml
    links:
      - zookeeper
      - kafka
      - spark-master
      - spark-worker
      - elasticsearch
    ports:
      - "4040:4040"
    volumes:
      - ./conf/logisland:/conf
      - ./data/logisland:/data